{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	{% block body %}
    <div id="wrapper">
        <div class="container">
<br>
<br>
    <div class="row" id="main">
        <div class="col-md-4 well" id="leftPanel">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <img src="http://lorempixel.com/200/200/abstract/1/" alt="Texto Alternativo" class="img-circle img-thumbnail">
                        <h2>{{ user.firstName }} {{ user.name }}</h2><br>
                    </div>
                </div>
            </div>
            </div>
        <div class="col-md-8 well" id="rightPanel">
            <div class="row">
                <div class="col-md-12">
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="alert alert-success">
                        <div class="flash-notice">
                            {{ flash_message }}
                        </div>
                    </div>
                {% endfor %}
                    {{ form_start(form, {'method': 'post', 'action': path('infoUser',{'idUser' : app.user.id}), 'attr': {'class': 'fos_user_profile_edit'}}) }}
                        {{ form_errors(form) }}
                        <h2>Editer votre adresse email</h2>
                        <hr>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    {{ form_errors(form.email) }}
                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control input-lg','placeholder' : "Email","tabindex" : "1" }}) }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    {{ form_errors(form.current_password) }}
                                    {{ form_widget(form.current_password, { 'attr': {'class': 'form-control input-lg','placeholder' : 'Mot de passe actuel',"tabindex" : "2" }}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Enregistrer">
                            </div>
                        </div>
                    {{ form_end(form) }}  
                </div>
            </div>
            </div>
        </div>
     </div>       
</div>
    </div> 
{% endblock %}

{% endblock fos_user_content %}