<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        <meta charset="utf-8">
        <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" media="screen">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="navbar navbar-inverse reseaux-sociaux">

                <a class="navbar-brand" href="{{ path('homepage') }}">PlateformeSport</a>

                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if is_granted("ROLE_ADMIN") %} 
                           <li><a href="adminSport">Administrer</a></li>
                        {% endif %}
                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                    {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                    {% endif %}
                </ul>
            </div>

            <!--Menu-->
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  
                </div>

                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="{{ path('homepage') }}">Accueil</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ path('infoUser', {'idUser': 12}) }}">Mon compte</a></li>
                    {% endif %}
                    <li><a href="{{ path('listSport') }}">Trouver un sport</a></li>
                    <li><a href="{{ path('listClub') }}">Trouver un club</a></li>
                    <li><a href="{{ path('listEvent') }}">Evenements</a></li>
                    <li><a href="{{ path('foireAuxQuestions') }}">FAQ</a></li>
                    <li><a href="{{ path('contact') }}">Contact</a></li>
                  </ul>

                </div>
              </div>
            </nav>
        </header>

        <div class="container col-md-12 container-global">

            <!---start-content---->
            {% block body %}{% endblock %}
            <!---//End-content---->

            <!--div class="navbar navbar-default footer">
           <p class="copy">© 2016 - Plateforme de sport tous droits résérvés ( <a class="mentions" href="#">mentions légales</a> )</p>
        </div-->
        </div>

        

        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script> 
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    </body>
</html>
