{% extends "::base.html.twig" %}

{% block title %}Ajouter un sport{% endblock %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 signUp">
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="alert alert-success">
                        <div class="flash-notice">
                            {{ flash_message }}
                        </div>
                    </div>
                {% endfor %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">Ajouter un sport</h1>
                        </div>
                        <div class="panel-body">
                        	{{ form_start(form, {'method': 'post'}) }}
                        		{{ form_errors(form) }}
                        		<fieldset>
                        			<div class="form-group">
                                    	{{ form_errors(form.name) }}
	                                    {{ form_widget(form.name, { 'attr': {'class': 'form-control','placeholder' : "Nom du sport" }}) }}
	                                </div>
                        			<div class="form-group">
                                    	{{ form_errors(form.description) }}
	                                    {{ form_widget(form.description, { 'attr': {'class': 'form-control','placeholder' : "Description" }}) }}
	                                </div>
                        			<div class="form-group">
                                    	{{ form_errors(form.nativeCountry) }}
	                                    {{ form_widget(form.nativeCountry, { 'attr': {'class': 'form-control','placeholder' : "Pays d'origine" }}) }}
	                                </div>
                        			<div class="checkbox">
                                    	{{ form_errors(form.competition) }}
	                                    {{ form_widget(form.competition, {'attr': {'style': 'margin-left:0'}}) }}
                                    	{{ form_label(form.competition, 'Compétitions') }}
	                                </div>
                        			<div class="form-group">
                                    	{{ form_errors(form.sportswear) }}
	                                    {{ form_widget(form.sportswear, { 'attr': {'class': 'form-control' }}) }}
	                                </div>
	                                <div>
	                                	{{ form_row(form.send, { 'label': 'Ajouter' }) }}
	                                </div>
                        		</fieldset>
                        	{{ form_end(form) }}
						</div>
					</div>
                </div>
            </div>
        </div>
	</div>
{% endblock %}
