{% extends "::base.html.twig" %}

{% block title %}PlateformeSport - Liste des sports{% endblock %}

{% block body %}
	<div id="wrapper">
        <div class="container">
			<h1>Trouver un sport</h1>

			<br>
			<div id="custom-search-input">
	            <div class="input-group col-md-8 searchBar">
	                <input type="text" class="search-query form-control" placeholder="Rechercher un sport" />
	                <span class="input-group-btn">
		                <button class="btn btn-search" type="button">
		                    <i class="glyphicon glyphicon-search"></i>
		                </button>
	              	</span>
	            </div>
	        </div>
	        
	        <div class="row">
	        	<div class="col-md-12 text-center">
	        		<a href="{{ path('addSport') }}">
	        			<button type="button" class="btn btn-success">Ajouter un Sport</button>
	        		</a>
	        	</div>
	        </div>
	        
	        <div class="row">
	        	{% for sport in listSport %}
	        		<div class="col-md-4 well" style="background-color:transparent;">
	        			<div class="row">
	        				<div class="col-md-1"></div>
	        				<div class="col-md-10" style="background:#bdd2ce; border-radius: 2%;">
	        					<div style="margin-top:2%;"></div>
	        					<div class="results">
	        						<img src="{{ asset('images/derby.jpg') }}" alt="{{ sport.name }}" class="img-circle img-thumbnail img-sport">
	        						<h2>{{ sport.name }}</h2>
	        						<p>{{ sport.description }}</p>
	        						<div ><a href="{{ path('infoSport', {'idSport': sport.id}) }}" class="btn btn-default btn-block">En savoir plus</a></div>
	        					</div>
	        					<div style="margin-bottom:2%;"></div>
	        				</div>
	        				<div class="col-md-1"></div>
	        			</div>
	        		</div>
	        	{% endfor %}
	        </div>

	        
			{# {% for sportInfo in listSport %}
				{% if sportInfo|length  %}
					{% set sportPerColumn = (sportInfo|length / 3)|round(0, 'ceil') %}
					
					{% for sport in sportInfo %}
						{% if sportPerColumn == 1 or loop.index % sportPerColumn == 1 %}
		    			<div class="row">
		    			{% endif %}
							<div class="col-md-4 well">
					            <div class="row">
					                <div class="col-md-12">
					                    <div class="results">
					                        <img src="{{ asset('images/derby.jpg') }}" alt="{{ sport.name }}" class="img-circle img-thumbnail img-sport">
					                        <h2>{{ sport.name }}</h2>
					                        <p>{{ sport.description }}</p>
					                        <div ><a href="{{ path('infoSport', {'idSport': sport.id}) }}" class="btn btn-default btn-block">En savoir plus</a></div>
					                    </div>
					                </div>
					            </div>
					        </div>
						{% if loop.last or loop.index % sportPerColumn == 0 %}
		    			</div>
		    			{% endif %}
						<br>
					{% endfor %}
	    		{% endif %}

			{% endfor %} #}
		</div>
	</div>
{% endblock %}
