{% extends "::base.html.twig" %}

{% block title %}PlateformeSport - {{ nameSport }}{% endblock %}

{% block body %}
	<div id="wrapper">
        <div class="container" style="text-align:center;">
        	{% if createUserConnected %}
		    	<div class="row" style="margin-top:2%;">
		    		<a href="{{ path('editSport', {'idSport': idSport}) }}">
	        			<button type="button" class="btn btn-success">Editer le Sport</button>
	        		</a>
		    	</div>
		    {% endif %}
			<h1>{{ nameSport }}</h1>
			<img src="{{ asset('images/derby.jpg') }}" alt="{{ nameSport }}" class="img-thumbnail img-sport-fiche">
			<div class="row">
		        <div class="col-md-12">
                    <p>{{ description }}</p>
		        </div>
		        <div class="col-md-12">
                    <p>Origine : {{ country }}</p>
		        </div>
		        <div class="col-md-12">
                    <p>Compétition : {{ competition }}</p>
		        </div>
		        <div class="col-md-12">
                    <p>Equipement : {{ sportSwear }}</p>
		        </div>
		    </div>
		</div>
	</div>


{% endblock %}
