{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        
        <div class="jumbotron searchFond">

          <div class="fond-blanc"></div>
          <h1>Avec PlateformeSport, trouver un sport ou un club près de chez vous !</h1><br>

          <div id="custom-search-input">
            <div class="input-group col-md-10 searchBar">
                <input type="text" class="  search-query form-control" placeholder="Rechercher un sport, un club..." />
                <span class="input-group-btn">
                  <button class="btn btn-search" type="button">
                      <i class="glyphicon glyphicon-search"></i>
                  </button>
              </span>
            </div>
          </div>
        </div>

        <div class="container">

          <div class="row derniersSports">
          
            {% if lastSports %}
              <h2>Derniers sports ajoutés</h2>

              {% for sport in lastSports %}
                <div class="col-sm-4 col-md-4">
                  <div class="thumbnail">
                    <div class="caption">
                      <h3>{{ sport.name }}</h3>
                      <p>{{ sport.description }}</p>
                      <p><a href="{{ path('infoSport', {'idSport': sport.id}) }}" class="btn btn-primary" role="button">Voir > </a></p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          
          </div>

          <div class="row derniersClubs">
            
            {% if lastClubs %}
              <h2>Derniers clubs ajoutés</h2>

              {% for club in lastClubs %}
                <div class="col-sm-4 col-md-4">
                  <div class="thumbnail">
                    <div class="caption">
                      <h3>{{ club.name }}</h3>
                      <p>{{ club.description }}</p>
                      <p><a href="{{ path('infoClub', {'idClub': club.id}) }}" class="btn btn-primary" role="button">Voir > </a></p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          
          </div>

          <div class="row derniersEvenements">

              {% if lastEvents %}
                <h2>Derniers évènements ajoutés</h2>
                {% for event in lastEvents %}
                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <div class="caption">
                        <h3>{{ event.name }}</h3>
                        <p>{{ event.description }}</p>
                        <p><a href="{{ path('infoEvent', {'idEvent': event.id}) }}" class="btn btn-primary" role="button">Voir > </a></p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}

          </div>


        </div>
    </div>
{% endblock %}