{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	{% block body %}
	    <div id="wrapper">
	        <div class="container">
	            <div class="row">
	                <div class="col-md-4 col-md-offset-4 signUp">
	                    <div class="panel panel-default">
	                        <div class="panel-heading">
	                            <h1 class="panel-title">Inscription</h1>
	                        </div>
	                        <div class="panel-body">
	                        	{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
	                        		{{ form_errors(form) }}
	                        		<fieldset>
	                                    <div class="form-group">
	                                    	{{ form_errors(form.firstName) }}
		                                    {{ form_widget(form.firstName, { 'attr': {'class': 'form-control','placeholder' : "Prénom" }}) }}
		                                </div>
	                                    <div class="form-group">
	                                    	{{ form_errors(form.name) }}
		                                    {{ form_widget(form.name, { 'attr': {'class': 'form-control','placeholder' : "Nom" }}) }}
		                                </div>
		                                <div class="form-group">
		                                	{{ form_errors(form.email) }}
		                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control','placeholder' : 'E-mail' }}) }}
		                                </div>
		                                <div class="form-group">
		                                	{{ form_errors(form.plainPassword.first) }}
		                                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control','placeholder' : 'Mot de passe' }}) }}
		                                </div>
		                                <div class="form-group">
		                                	{{ form_errors(form.plainPassword.second) }}
		                                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control','placeholder' : 'Confirmation du mot de passe' }}) }}
		                                </div>

		                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Inscription">

		                            </fieldset>
	                        	{{ form_end(form) }}
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	{% endblock %}
{% endblock fos_user_content %}
