{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
<br>
<br>
    <div class="row" id="main">
        <div class="col-md-4 well" id="leftPanel">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <img src="http://lorempixel.com/200/200/abstract/1/" alt="Texto Alternativo" class="img-circle img-thumbnail">
                        <h2>John DOE</h2><br>
                        <div ><a href="#" class="btn btn-default btn-block btn-lg">Changer l'image</a></div>
                    </div>
                </div>
            </div>
            </div>
        <div class="col-md-8 well" id="rightPanel">
            <div class="row">
                <div class="col-md-12">
                    {{ form_start(form, {'method': 'post'}) }}
                        
                        <h2>Editer votre profil</h2>
                        <hr>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    {{ form_errors(form.firstName) }}
                                    {{ form_widget(form.firstName, { 'attr': {'class': 'form-control input-lg','placeholder' : "Prénom","tabindex" : "1" }}) }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    {{ form_errors(form.name) }}
                                    {{ form_widget(form.name, { 'attr': {'class': 'form-control input-lg','placeholder' : "Nom","tabindex" : "2" }}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                                    {{ form_errors(form.email) }}
                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control input-lg','placeholder' : "Prénom","tabindex" : "4" }}) }}
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    {{ form_errors(form.plainPassword.first) }}
                                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control input-lg','placeholder' : 'Mot de passe',"tabindex" : "5" }}) }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    {{ form_errors(form.plainPassword.second) }}
                                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control input-lg','placeholder' : 'Confirmation de mot de passe',"tabindex" : "6" }}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6"></div>
                            <div class="col-xs-12 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg">Enregistrer</a></div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
     </div>       
</div>
    </div> 
{% endblock %}