{% extends "::base.html.twig" %}

{% block title %}AppBundle:Club:Club{% endblock %}

{% block body %}
<h1>Welcome to the Club:Club number {{ idClub }} page</h1>

Nom du club : {{ infoClub.name }}<br>
Description : {{ infoClub.description }}<br>
Ouverture : {{ infoClub.openingTime }}<br>
Fermeture : {{ infoClub.closingTime }}<br>

test a la con :
{% for infoTest in test %}
	{{ infoTest.name }}<br>
{% endfor %}
 
{% endblock %}
