{% extends "::base.html.twig" %}

{% block title %}PlateformeSport - {{ infoClub.name }}{% endblock %}

{% block body %}
	<div id="wrapper">
        <div class="container" style="text-align:center;">
			{% if createUserConnected %}
		    	<div class="row" style="margin-top:2%;">
		    		<a href="{{ path('editClub', {'idClub': idClub}) }}">
	        			<button type="button" class="btn btn-success">Modifier Information Club</button>
	        		</a>
		    	</div>
		    {% endif %}

			<h1>{{ infoClub.name }}</h1>
			<img src="{{ asset('images/derby.jpg') }}" alt="{{ infoClub.name }}" class="img-thumbnail img-sport-fiche">
			<div class="row">
		        <div class="col-md-12">
                    <p style="font-size:30px;">{{ infoClub.description }}</p>
		        </div>
		        <div class="col-md-12">
                    <strong style="font-size:15px;">Horaire ouverture : {{ infoClub.openingTime }}</strong>
		        </div>
		        <div class="col-md-12">
                    <strong style="font-size:15px;">Horaire fermeture : {{ infoClub.closingTime }}</strong>
		        </div>
		    </div>
		</div>
	</div> 
{% endblock %}
