{% extends "::base.html.twig" %}

{% block title %}PlateformeSport - Liste des clubs{% endblock %}

{% block body %}
<div id="wrapper">
    <div class="container">
		<h1>Trouver un club</h1>

		<br>
		<div id="custom-search-input">
		    <div class="input-group col-md-8 searchBar">
		        <input type="text" class="search-query form-control" placeholder="Rechercher un club" />
		        <span class="input-group-btn">
		            <button class="btn btn-search" type="button">
		                <i class="glyphicon glyphicon-search"></i>
		            </button>
		      	</span>
		    </div>
		</div>


		{% for club in listClub %}
		<div class="row">
	        <div class="col-md-4 well">
	            <div class="row">
	                <div class="col-md-12">
	                    <div class="results">
	                        <img src="{{ asset('images/derby.jpg') }}" alt="{{ club.name }}" class="img-circle img-thumbnail img-sport">
	                        <h2>{{ club.name }}</h2>
	                        <p>{{ club.description }}</p>
	                        <div ><a href="{{ path('infoClub', {'idClub': club.id}) }}" class="btn btn-default btn-block">En savoir plus</a></div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
		{% endfor %}
	</div>
</div>

{% endblock %}
